.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cart-widget {
  display: flex;
}

h2 {
  text-align: center;
}
.Item-image {
  display: block;
  max-width: 300px;
  max-height: 300px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Items {
 display: flex;
 justify-content: center;
 
}

.Items2 {
  text-align: center;
}
.Item {
  float: left;
  width: 500px;
  height: 500px;
}

.hometext {
  text-decoration: none;
}
.Item-detail {
  text-align: center;
  justify-content: center;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  height: 400px;
  box-shadow: 1px, 5px, 5p,x #00000047;
}

.ItemCount {
  display: inline;
  margin: 5px;

}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.Checkout-container {
  text-align: center;
}

